.AddFolder {
    margin-left: 20px;
}

.AddFolder__buttons {
    margin-top: 30px;
    display: flex;
    color: white;
    
}

#cancel_button {
    margin-right: 20px;
    color: white;
    background-color: #727272;
    cursor: pointer;
}

#save_button {
    color: white;
    background-color: #727272;
    cursor: pointer;
}

#save_button:disabled {
    background-color: #cfcfcf;
}