
.AddButton {
  background-color: #727272;
  border: 0;
  color: white;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  height: 60px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 70px;
}

a.AddButton {
  padding: 16px 8px 8px;
}

.AddButton:hover {
  cursor: pointer;
}
